:root {
  --blue-rgb: linear-gradient(180deg, rgba(15, 57, 133, 1) 35%, rgba(0, 0, 0, 1) 100%);
  --tTDur: 500ms;
}

html,
body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
  white-space: no-wrap;
  background-color: black;
  color: white !important;
}

body {
  background: rgb(8,31,72);
  background: linear-gradient(180deg, rgba(8,31,72,1) 0%, rgba(0,0,0,0) 100%);
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

t {
  font-size: 4vw;
  transition: all var(--tTDur);
}

.inline {
  display: inline-block;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  /* color: rgb(0, 60, 225); */
  color: white;
  text-shadow: 0px 0px 30px rgb(0, 0, 0);
  font-weight: 700;
}

.content {
  box-shadow: 25px;
  box-shadow: black inset 0px 0px 60px 60px ;
  color: white;
  padding: 150px;
  width: 100%;
  height: 100%;
}

@keyframes strike{
  0%   { width : 0; }
  100% { width: 100%; }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#nav {
  text-transform: uppercase;
  align-items: center;
  justify-content: center;
  padding: 15px;
  display: flex;
  gap: 15px;
  width: 100%;
  text-decoration: none;
  position: fixed;
  border-bottom: 2px solid white;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 99999;
}

a {
  font-weight: bold;
  text-decoration: none;
}

#about {
  padding: 150px;
  box-shadow: black inset 0px 0px 60px 60px ;
  background: linear-gradient(-45deg, #0e274a, #003053, #005aae, #166691);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
}

.branding {
  border-right: solid 2px white;
  padding-right: 15px
}

.teamMembers {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: auto;
  gap: 25px;
}

.memberCard {
  padding: 25px;
  border-radius: 15px;
  background-color: black;
  width: calc(335px + 35px);
  display: inline-block;
  margin: 15px;
  min-height: 450px;
  text-align: center;
  box-shadow: black 0px 0px 20px 5px;
}

.memberCard > img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.memberCard > name {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#progBar {
  z-index: 9999999999999999999999;
  width: 0px;
  position: fixed;
  background: linear-gradient(to right, #6666ff, #0099ff , #00ff00, #ff3399, #6666ff);
  top: 0; 
  height: 8px;
  animation: rainbow_animation 6s ease-in-out infinite;
  background-size: 400% 100%;
  /* filter: blur(30px); */
}

@keyframes rainbow_animation {
  0%,100% {
      background-position: 0 0;
  }

  50% {
      background-position: 100% 0;
  }
}



#footer {
  padding: 50px;
  margin: 105px;
  border-radius: 55px 55px;
  box-shadow: black inset 0px 0px 10px 10px;
  background-color: dodgerblue;
  margin-bottom: 55px;
  text-align: center;
}

#services {
  height: 100vh;
  padding: 40px;
  text-align: center;
  border-radius: 55px;
  width: 100%;
  box-shadow: black inset 0px 0px 10px 10px;
	background-size: 400% 400%;
  backdrop-filter: blur(10000px);
  -webkit-backdrop-filter: blur(15px);
  --s: 15vmin;
  --p: calc(var(--s) / 2);
  --c1: rgb(0, 33, 66);
  --c2: dodgerblue;
  --c3: black;
  --bg: var(--c3);
  --d: 4000ms;
  --e: cubic-bezier(0.76, 0, 0.24, 1);
  
  background-color: var(--bg);
  background-image:
    linear-gradient(45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(-45deg, var(--c1) 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, var(--c2) 75%),
    linear-gradient(-45deg, transparent 75%, var(--c2) 75%);
  background-size: var(--s) var(--s);
  background-position: 
    calc(var(--p) *  1) calc(var(--p) *  0), 
    calc(var(--p) * -1) calc(var(--p) *  1), 
    calc(var(--p) *  1) calc(var(--p) * -1), 
    calc(var(--p) * -1) calc(var(--p) *  0);
  animation: 
    color var(--d) var(--e) infinite,
    position var(--d) var(--e) infinite;
}

@keyframes color {
  0%, 25% {
    --bg: var(--c3);
  }
  26%, 50% {
    --bg: var(--c3);
  }
  51%, 75% {
    --bg: var(--c3);
  }
  76%, 100% {
    --bg: var(--c3);
  }
}

@keyframes position {
  0% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  0), 
      calc(var(--p) * -1) calc(var(--p) *  1), 
      calc(var(--p) *  1) calc(var(--p) * -1), 
      calc(var(--p) * -1) calc(var(--p) *  0);
  }
  25% {
    background-position: 
      calc(var(--p) *  1) calc(var(--p) *  4), 
      calc(var(--p) * -1) calc(var(--p) *  5), 
      calc(var(--p) *  1) calc(var(--p) *  3), 
      calc(var(--p) * -1) calc(var(--p) *  4);
  }
  50% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 8), 
      calc(var(--p) * -3) calc(var(--p) * 9), 
      calc(var(--p) *  2) calc(var(--p) * 7), 
      calc(var(--p) * -2) calc(var(--p) * 8);
  }
  75% {
    background-position: 
      calc(var(--p) *  3) calc(var(--p) * 12), 
      calc(var(--p) * -3) calc(var(--p) * 13), 
      calc(var(--p) *  2) calc(var(--p) * 11), 
      calc(var(--p) * -2) calc(var(--p) * 12);
  }
  100% {    
    background-position: 
      calc(var(--p) *  5) calc(var(--p) * 16), 
      calc(var(--p) * -5) calc(var(--p) * 17), 
      calc(var(--p) *  5) calc(var(--p) * 15), 
      calc(var(--p) * -5) calc(var(--p) * 16);
  }
}

#servicesContent {
  width: 100%;
  height: 100%;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(15px);
  padding: 180px;
  border-radius: 45px;
  gap: 100px;
}

#servicesContent > h1 {
  /* font-size: 38px; */
  font-weight: 400;
}

#footer > a {
  font-size: 55px;
  margin: 85px;
}